html {
	background-color: Lime;
	padding: 0px;
	margin: 0px;
	height: calc(100% - 2rem);
}

body {
	background-color: Fuchsia;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#headerSection {
	background-color: Cyan;
	background-image: linear-gradient(to bottom, Gainsboro, DarkGray);
	position: fixed;
	z-index: 30000;
	top: 0px;
	width: 100%;
	height: 2rem;
}

#headerSection a {
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	text-decoration: none;
	height: 1.65rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.1rem;
	padding-bottom: 0rem;
	display: inline-block;
	vertical-align: middle;
	border-bottom: medium hidden Orange;
}

#headerSection a.active {
	border-bottom: medium solid Orange;
}

#precontent {
	margin-top: 2rem;
}

#contentSection {
	background-color: Blue;
	min-height: calc(100% - 1.2rem);
	position: relative;
	width: calc(100% - 1.2rem);
	padding: 10px;
}

#content {
	background-color: Red;
}

#rightMenu {
	position: fixed;
	z-index: 30000;
	top: 0px;
	right: 0px;
}
